<div class="light-red-background">

  <div class="container">

    <h1>Add a blog entry</h1>
    <%= simple_form_for @article do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :description1 %>
    <%= f.input :description2 %>
    <%= f.input :description3 %>
    <%= f.input :description4 %>
    <%= f.input :description5 %>
    <%= f.input :description6 %>
    <%= f.input :description7 %>
    <%= f.input :description8 %>
    <%= f.input :category %>
    <%= f.input :image, as: :file %>
    <%= f.button :submit, class: "btn-primary" %>
    <%= f.button :button, "Cancel", type: "reset", class: "btn-outline-secondary" %>
    <% end %>
  </div>
</div>
